.example-header-image {
    background-image: url('/assets/user.png');
    background-size: cover;
}

.content {
    /* width: 110%; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
    position: fixed !important;
    overflow: auto;
}

/* Pantallas superiores a 800px (PC) */
@media screen and (min-width: 800px) {
    .content {
        background-image: url('/assets/selva.jpg');
    }

    .card-menu {
        /* padding: 6.3% 6% 0% 13%; */
        padding: 4.5% 6% 0% 13%;
    }

    .card-personajes {
        padding: 4% 10% 0% 0%;
    }

    .img-personajes {
        width: 100%;
    }

    .title-top {
        color: #ffff00;
        text-align: center;
        border: 0px solid;
        padding-bottom: 3%;
    }

    .title-text {
        font-size: xxx-large;
    }
}

/* Pantallas inferiores a 800px (mobile) */
@media screen and (max-width: 800px) {
    .content {
        background-image: url('/assets/selva.jpg');
    }

    .card-menu {
        padding: 3% 6% 0% 6%;
    }

    .card-personajes {
        padding: 4% 6% 3% 6%;
    }

    .img-personajes {
        width: 100%;
    }

    .title-top {
        color: #ffff00;
        text-align: center;
        border: 0px solid;
        padding-bottom: 2%;
    }

    .title-text {
        font-size: xx-large;
    }
}
