<div class="row">
    <div class="col-7" style="border: 0px solid blue;">
        <h3 mat-dialog-title><b>{{ decisiones[decisionSelect].titulo }}</b></h3>
    </div>
    <div class="col-5" style="border: 0px solid red; text-align: right;">
        <h3 mat-dialog-title><span *ngIf="horas < 10">0</span>{{horas}} : <span *ngIf="minutos < 10">0</span>{{minutos}} : <span *ngIf="segundos < 10">0</span>{{segundos}}</h3>
    </div>
</div>
<mat-dialog-content style="border: 0px solid red;">
    <br>
    <mat-card class="example-card">
        <img mat-card-image [src]="decisiones[decisionSelect].imagen">
        <mat-card-content *ngIf="decisiones[decisionSelect].descripcion">
            <p style="text-align: center;">
                {{ decisiones[decisionSelect].descripcion }}
            </p>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions align="center">
            <button mat-button *ngFor="let item of decisiones[decisionSelect].opciones;"
                (click)="validarOpcion(item.opcion)">{{ item.opcion }}</button>
        </mat-card-actions>
    </mat-card>
    <br>
    <mat-progress-bar mode="determinate" [value]="decisiones[decisionSelect].progreso"></mat-progress-bar>
</mat-dialog-content>
